/* CSS - Referências Principais */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body { 
    height: 100vh;
    color: white;
    background: #ebf9ff;
}

:root {
    font-size: 62.5%;
}

body, input, button, textarea {
    font: 600 1.8rem/1 'Montserrat', sans-serif;
}