<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador | Página Inicial</title>
    <link rel="icon" href="/images/loco-icon.png">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/page-landing.css">
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div id="page-landing">
        <div id="container">
            <header>
                <img class="animate-up" id="logo" src="/images/logo.svg" alt="Logomarca" height="175px" width="175px">
                <div class="location animate-up">
                    <strong>Monsenhor Paulo</strong>
                    <p>Minas Gerais</p>
                </div>
            </header>
            <main>
                <h1 class="animate-up">Gerencie os serviços realizados</h1>
                <section class="management">
                    <p class="animate-up">Visualize por satélite com facilidade e agilidade</p>
                    <a href="/page-locations" tittle="Gerenciar serviços" class="animate-up">
                        <img src="/images/arrow.svg" alt="Visualizar no mapa" height="55px" width="55px">
                    </a>
                </section>
            </main>
        </div>
    </div>
</body>
</html>